@import './alignments.css';
@import './margins.css';
@import './buttons.css';
@import './texts.css';
@import './colors.css';
@import './paddings.css';

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.containers {
    display: flex;
    flex-direction: row;
    padding: 0px 72px;
}

@media screen and (max-width: 900px) {
	.containers {
        display: flex;
        flex-direction: column;
    }
}

code {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

button {
    height: 50px;
    border-radius: 10px;
}

input[type='text'], input[type='password'], select, input[type='date']{
    font-family: 'Montserrat', sans-serif;
    height: 45px;
    width: 261px;
    border: 1px solid #4C4C4C;
    font-size: 14px;
    color: #4C4C4C;
    padding: 5px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type='text']:focus, input[type='password']:focus{
   outline: 0px;
}

input[type='checkbox'] {
    width: 30px;
    height: 30px;
    position: relative;
    left: 0px;
    top: 10px;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #A5A5A5;
}

.overflow-scroll {
    overflow-y: scroll;
}

/* Calendário */

.react-datepicker {
    font-family: 'Montserrat';
    font-size: .8rem;
    background-color: #fff;
    color: #374952;
    border: 0px;
    border-radius: .5rem;
}

.react-datepicker__month-container {
    float: left;
    background: #FFF;
    font-family: 'Montserrat';
    color: #374952;
}

.react-datepicker__header {
    background: #FFF;
    color: #374952;
    border: 0px;
}

.react-datepicker__header  div {
    font-weight: 600;
    color: #374952;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected {
    border-radius: .3rem;
    background-color: #9DBBC3;
    border-radius: 20.9054px;
    color: #fff;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
    border-top: 1;
    border-bottom-color: transparent;
}

.react-datepicker-popper[data-placement^="bottom"] {
    margin-top: -25px;
}