.pt-md {
    padding-top: 32px;
}

.pd-mid {
    padding: 12px;
}

.pd-right-sm {
    padding-right: 6px;
}

.pd-right-xlg {
    padding-right: 40px;
}

.pd-bt-mid {
    padding-bottom: 16px;
}

.pd-bt-sm {
    padding-bottom: 8px;
}

.pd-zero {
    padding: 0px;
}

.padding-form-editform-detail {
    padding-top: 60%;
}

.padding-form-detail {
    padding-top: 10px;
}