.btn-search {
    border: 0px;
    background-color: #374952;
    border-radius: 8px;
    width: 124px;
    height: 40px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-search svg {
    margin-top: 5px;
    position: absolute;   
}

.input-search {
    width: 432px;
    height: 40px;
    background: #F7F7F7;
    
    border-top: 1px solid #374952;
    border-left: 1px solid #374952;
    border-right: 1px solid #374952;
    border-bottom: 1px solid #374952;
    box-sizing: border-box;
    border-radius: 8px;
}