body {
    background-color: #1B1A34;
    background-image: url('../assets/background.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70%;
}

.container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    padding: 45px 61px;
}

label {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

h1 {
    font-size: 48px;
}

input {
    margin-bottom: 30px;
}

a{
    font-size: 16px;
}

button {
    margin-bottom: 30px;
}