.container-detail-modal {
    display: grid;
    list-style: none;
    background-color: white;
    box-shadow: 0px 0px 32px rgb(0 0 0 / 10%);
    border-radius: 16px;
    padding: 45px 50px;
    width: 800px !important;
    height: 533px;
    grid-template-areas: "client-content-header client-content-header client-content-header  charges-content charges-content"
                         "client-content-body client-content-body client-content-body charges-content charges-content"   
                         "client-content client-content client-content charges-content charges-content";
    grid-template-rows: 90px;
    grid-template-columns: 50%;
}

.client-content-header  {
    grid-area: client-content-header;
    list-style: none;
}
.client-content-body  {
    grid-area: client-content-body;
    padding-left: 0px;
    gap: 10px;
    list-style: none;
}

.client-content  {
    grid-area: client-content;
    list-style: none;
}

.charges-content {
    grid-area: charges-content;
    border-left: 1px solid #DDDDDD;
    justify-content: center;
    display: flex;
    overflow-y: scroll;
    
}

::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}

.detail-name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 15px;   
    display: flex;
    align-items: flex-end;
    color: #374952;
    
}

.detail-width-lg {
    width: 800px;
}

.detail-width-md {
    width: 140px;
}

.label-content-detail {
    color: #374952;
    margin: 5px 0px;
}

.container-charges-detail {
    width: 410px;
    height: 90px;
    padding: 22px 20px;
    background: #F9F9F9;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 16px;
    margin-left: 16px;
}
